<div class="layout layout-align-center-center slider-container">
        <div flex=10 class="layout flex-10 layout-align-center-center">
          <span>Progress</span>
        </div>
        {{paper-slider class="flex" discrete=true value=currentStep step=1 min=1 max=3 onChange=(action (mut rating1))}}
 </div>

{{#paper-stepper vertical=false alternative=true  currentStep=currentStep onStepChange=(action (mut currentStep))
  onStepperCompleted=(action "saveModel") as |stepper|}}
    
  


  {{#stepper.step label="Start" stepNumber=1 as |step|}}
    {{#step.body}}
     
      {{partial "step2"}}
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
     {{!--  {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}} 
     {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}--}}
    {{/step.actions}}
  {{/stepper.step}}




  {{#stepper.step label="Select Vendor" stepNumber=2 as |step|}}
    {{#step.body}}
     
      {{partial "step2"}}
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
     {{!--  {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}} 
     {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}--}}
    {{/step.actions}}
  {{/stepper.step}}

{{#stepper.step label="purchase Order" stepNumber=3 as |step|}}
    {{#step.body}} 
      {{partial "step4"}}
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
     {{#paper-button primary=true raised=true onClick=(action 'previousStep')}}
       Back
      {{/paper-button}}
        {{#paper-button primary=true raised=true onClick=(action 'poupload')}}
        Submit
      {{/paper-button}}

        {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Approve Invoice
      {{/paper-button}}
      
       
    
    {{/step.actions}}
  {{/stepper.step}}

 {{#stepper.step label="approve Invoice" stepNumber=4 as |step|}}
    {{#step.body}}
           {{partial 'step6'}}
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
     {{!-- {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}--}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}
  {{/paper-stepper}}

  {{#if approveProperty}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
   <div class="loginmodal-container">
 <p>

   {{modalmessage}}
      
 </p>
 <input type="button" class="btn btn-primary pull-right" value="OK" {{action 'gotohome'}}>
   </div>

  {{/modal-dialog}}
{{/if}}

{{#if isfileupload}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
   <div class="loginmodal-container">
 <p>

  
      
 </p>
 <input type="button" class="btn btn-primary pull-right" value="OK" {{action 'gotohome'}}>
   </div>

  {{/modal-dialog}}
{{/if}}