{{!--{{partial 'steplist'}}--}}
{{!--
 {{models-table data=model columns=columns anchorprogram='anchorprogram'  }}--}}


<table >
    <thead>
      <tr>
        <th>Program</th>
        <th>Date</th>
        <th>Status</th>
         <th>close</th>
      </tr>
    </thead>
    <tbody>
      <ul style="list-style-type:none">
     {{#each message as |item|}}
      <tr>
      <td>  <li> {{item.programid}} </li></td>
      <td> <li> {{item.date}}</li></td>
      <td> <li> <button {{action 'anchorprogram' item.status item.programid item}}>{{item.status}}</button></li></td>
  
     <td>  <li> <button {{action 'close' item}}>Close</button></li></td>
      </tr>
      {{/each}}
     
      </ul>
    </tbody>
  </table>