{{outlet}}
{{!--{{"this payment page"}}--}}
<div class="panel panel-primary">
<div class="panel-heading">  Details page </div>
</div>
  <form class="form-horizontal">

      <div class="form-group">
      <label class="control-label col-sm-2" >Vendor :</label>
      <div class="col-sm-10">
          {{validated-input type="text" model=this  valuePath='vendorname' placeholder="Vendor name"}}
       
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2">Recievable Amount:</label>
      <div class="col-sm-10">
         {{validated-input type="text" model=this  valuePath='totalamount' placeholder="Recievable Amount"}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Discounted Amount:</label>
      <div class="col-sm-10">        
           {{validated-input type="text" model=this  valuePath='discountamount' placeholder="Discounted Amount"}}
      </div>
    </div>


 <div class="form-group">
      <label class="control-label col-sm-2"  >Payment Mode:</label>
      <div class="col-sm-10">        
            {{validated-input type="text" model=this  valuePath='paymentmode' placeholder="Payment Mode"}}
      </div>
    </div>

     <div class="form-group">
      <label class="control-label col-sm-2" >Bank</label>
      <div class="col-sm-10">        
            {{validated-input type="text" model=this  valuePath='vendorbank' placeholder="Bank"}}
      </div>
    </div>

   
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="button" class="btn btn-primary pull-right" value="Continue" {{action 'toinititaepayment'}}>
      </div>
    </div>
  </form>

  {{#if approveProperty}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
   <div class="loginmodal-container">
 <p>

   {{modalmessage}}
      
 </p>
 <input type="button" class="btn btn-primary pull-right" value="OK" {{action 'gotohome'}}>
   </div>

  {{/modal-dialog}}
{{/if}}
