<div class="box">
   <div class="list-group">
     
      <p class="list-group-item">
        Vendor Name :{{validated-input type="text"  model=this  valuePath='vendorname' placeholder="Vendor Name" }}
      </p>
      <br>
      <p class="list-group-item">
       Invoice Amount  :   {{validated-input type="text"  model=this  valuePath='totalamount' placeholder=" Total Amount" }}
      </p>
      <br>
      <p class="list-group-item">
       Date : {{pick-a-date  date=(readonly formdate) on-selected=(action (mut formdate)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
      </p>
      <br>
    {{!--  {{input type="button" value="approve" action=gotohome}}--}}
      <button type="button" name="Invoice approve"{{action 'approve'}}>OK</button>
   </div>
</div>