
Close program
{{!--{{partial 'step1'}}--}}
<div class="box">
   <div class="list-group">
      <p class="list-group-item">
         program ID :<b style="color:red"> {{programid}}</b> 
      </p>
      <br>
     <!-- <p class="list-group-item">
        Manufacturer  Name : {{validated-input type="text" model=this  valuePath='anchorname' placeholder="Manufacturer  Name"}}{{!--{{vendorbank}}--}} 
      </p>
     <br>
      <p class="list-group-item">
       Supplier Name :{{validated-input type="text" model=this  valuePath='vendorname' placeholder="Supplier Name"}}{{!--{{vendorbank}}--}} 
      </p>-->
      <br>
      <p class="list-group-item">
         Pending Paymnet : NA{{pendingpayment}} 
      </p>
      <br>
      <p class="list-group-item">
         Recieved Paymnet :{{validated-input type="text" model=this  valuePath='totalamount' placeholder=" Recieved Paymnet "}}{{!--{{vendorbank}}--}} 
      </p>
      <br>
    <!--  <p class="list-group-item">
         Status : approved{{status}} 
      </p>-->
      <br>
      <span class="file">
      <button type="button" class="btn btn-primary pull-center" value="Confirm Program initiation" {{action 'closure'}}>
      Confirm Closure
      </button>
      </span>
   </div>
</div>

