
{{#if showdalways}}
<table >
    <thead>
      <tr>
        <th>Program</th>
        <th>Date</th>
        <th>Status</th>
         <!--<th>close</th>-->
      </tr>
    </thead>
    <tbody>
      
     {{#each message as |item|}}
      <tr>
      <td>  {{item.programid}} </td>
      <td> {{item.date}}</td>
      <td>  <a {{action 'vendorprogram' item.status item.programid item}}>{{item.status}}</a></td>
  
   <!--  <td>  <li> <button {{action 'close' item}}>Close</button></li></td>-->
      </tr>
      {{/each}}
     
 
    </tbody>
  </table>
  {{/if}}
  {{#if showRxpayment}}
  {{partial 'recievedpayment'}}
  {{/if}}